<template>
    <div class="products">
        <form class="searchbar">
            <input placeholder="Пошук" v-model="search">
            <input type="submit" class="btn">
        </form>
        <div class="product" v-for="(item) in filteredItems" :key="item.id">
            <div class="product-image">
                <img :src="item.src">
            </div>
            <div>
                <h4 class="product-title">
                    <router-link :to="'/product/' + item.id">
                        {{ item.item }}
                    </router-link>
                </h4>
                <label>{{ item.price }}</label>
                <button @click="addToCart(item)" class="btn">Add to cart</button> <!-- Змінено тут -->
            </div>
        </div>
        <div class="cart">
        </div>
    </div>
</template>
<script>
    import { mapGetters, mapActions } from 'vuex';
    import products from '../data/products.js'

    export default {
        data: function () {
            return {
                items: [],
                search: '',
            };
        },
        mounted: function(){
            this.items = products;
        },
        computed: {
            ...mapGetters(['cartItems']),
            filteredItems: function() {
                if (!this.search) {
                    return this.items;
                }
                return this.items.filter(element => {
                    return element.item.toUpperCase().includes(this.search.toUpperCase());
                });
            },
        },
        methods: {
            ...mapActions(['addToCart']),
        }
    }
</script>